# **Stacked models**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
import lightgbm as lgb
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error
from math import sqrt
from scipy.stats import skew

In [2]:
df_train = pd.read_csv('/content/train_data.csv', parse_dates=["date"])
df_test_data = pd.read_csv('/content/test_data.csv', parse_dates=["date"])
df_test = df_test_data.copy()
df_train

            date  hour  demand
0     2018-08-18     9      91
1     2018-08-18    10      21
2     2018-08-18    13      23
3     2018-08-18    14     104
4     2018-08-18    15      81
...          ...   ...     ...
18242 2021-02-28    19      95
18243 2021-02-28    20      88
18244 2021-02-28    21      39
18245 2021-02-28    22     104
18246 2021-02-28    23      85

[18247 rows x 3 columns]

In [3]:
# generating multiple features from date for train data

df_train['dayofweek'] = df_train['date'].dt.dayofweek
df_train['quarter'] = df_train['date'].dt.quarter
df_train['month'] = df_train['date'].dt.month
df_train['monthofquarter'] = df_train['month']%4
df_train['dayofyear'] = df_train['date'].dt.dayofyear
df_train['dayofmonth'] = df_train['date'].dt.day
df_train['weekofyear'] = df_train['date'].dt.weekofyear
df_train['year'] = df_train['date'].dt.year
df_train.drop('date',axis=1, inplace=True)

cols = list(df_train.columns)
cols.remove('demand')
df_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  if __name__ == '__main__':

,hour,demand,dayofweek,quarter,month,monthofquarter,dayofyear,dayofmonth,weekofyear,year
0,9,91,5,3,8,0,230,18,33,2018
1,10,21,5,3,8,0,230,18,33,2018
2,13,23,5,3,8,0,230,18,33,2018
3,14,104,5,3,8,0,230,18,33,2018
4,15,81,5,3,8,0,230,18,33,2018
...,...,...,...,...,...,...,...,...,...,...
18242,19,95,6,1,2,2,59,28,8,2021
18243,20,88,6,1,2,2,59,28,8,2021
18244,21,39,6,1,2,2,59,28,8,2021
18245,22,104,6,1,2,2,59,28,8,2021
18246,23,85,6,1,2,2,59,28,8,2021

In [4]:
# generating multiple features from date for test data

df_test['dayofweek'] = df_test['date'].dt.dayofweek
df_test['quarter'] = df_test['date'].dt.quarter
df_test['month'] = df_test['date'].dt.month
df_test['monthofquarter'] = df_test['month']%4
df_test['dayofyear'] = df_test['date'].dt.dayofyear
df_test['dayofmonth'] = df_test['date'].dt.day
df_test['weekofyear'] = df_test['date'].dt.weekofyear
df_test['year'] = df_test['date'].dt.year
df_test.drop('date',axis=1, inplace=True)

df_test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  if __name__ == '__main__':

,hour,dayofweek,quarter,month,monthofquarter,dayofyear,dayofmonth,weekofyear,year
0,0,0,1,3,3,60,1,9,2021
1,1,0,1,3,3,60,1,9,2021
2,2,0,1,3,3,60,1,9,2021
3,3,0,1,3,3,60,1,9,2021
4,5,0,1,3,3,60,1,9,2021
...,...,...,...,...,...,...,...,...,...
7645,19,0,1,3,3,87,28,13,2022
7646,20,0,1,3,3,87,28,13,2022
7647,21,0,1,3,3,87,28,13,2022
7648,22,0,1,3,3,87,28,13,2022
7649,23,0,1,3,3,87,28,13,2022

In [5]:
# we are going to keep only 5% of the dataset in test dataset

X = df_train.loc[:, cols].values
y = df_train.loc[:, 'demand'].values
X_test_dataset = df_test.loc[:, cols].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/20)

In [31]:
# hyperparameter tuning of xgb
"""
{'learning_rate': 0.07, 'max_depth': 7, 'n_estimators': 200}
{'learning_rate': 0.02, 'max_depth': 7, 'n_estimators': 400}
"""
# parameters = {
#                 'learning_rate': [0.02, 0.1],
#                 'max_depth': [7, 35, 100],
#                 'n_estimators': [200,  600]
#             }

# xgb = XGBRegressor()
# hyper_params = GridSearchCV(estimator=xgb, param_grid=parameters, n_jobs=-1, cv=5)
# hyper_params.fit(X_train, y_train)

# # find out the best hyper parameters
# hyper_params.best_params_

"\n{'learning_rate': 0.07, 'max_depth': 7, 'n_estimators': 200}\n{'learning_rate': 0.02, 'max_depth': 7, 'n_estimators': 400}\n"

In [30]:
# hyperparameter tuning of random forest
"""
{'max_depth': 7, 'n_estimators': 1000}
{'max_depth': 60, 'n_estimators': 1500}
"""
# parameters = {
#                 'max_depth': [30, 100],
#                 'n_estimators': [  1500, 2000]
#             }

# rf = RandomForestRegressor()
# hyper_params = GridSearchCV(estimator=rf, param_grid=parameters, n_jobs=-1, cv=5)

# hyper_params.fit(X_train, y_train)
# # find out the best hyper parameters
# hyper_params.best_params_

"\n{'max_depth': 7, 'n_estimators': 1000}\n{'max_depth': 60, 'n_estimators': 1500}\n"

In [25]:
# hyperparameter tuning of lgbm
"""
{'learning_rate': 0.15,
 'n_estimators': 200,
 'num_leaves': 12,
 'objective': 'regression'}
 
 {'learning_rate': 0.02,
 'n_estimators': 300,
 'num_leaves': 70,
 'objective': 'regression'}
"""
parameters = {  'objective':['regression'],
                'learning_rate': [0.02, 0.09],
                'num_leaves': [ 30, 70, 100],
                'n_estimators': [ 200, 300, 500]
            }
lgb1 = lgb.LGBMRegressor()
hyper_params = GridSearchCV(estimator=lgb1, param_grid=parameters, n_jobs=-1, cv=5)

hyper_params.fit(X_train, y_train)
# find out the best hyper parameters
hyper_params.best_params_

{'learning_rate': 0.02,
 'n_estimators': 300,
 'num_leaves': 70,
 'objective': 'regression'}

In [28]:
# ensembled prediction using rf over splitted test data
rand_forest_regressor = RandomForestRegressor(max_depth = 60, n_estimators = 1500)
rand_forest_regressor.fit(X_train, y_train)

y_rand_forest_predict = rand_forest_regressor.predict(X_test)
random_forest_model_error = sqrt(mean_squared_error(y_test, y_rand_forest_predict))
print(f' Random Forest Mean Squared Error - {random_forest_model_error}')

 Random Forest Mean Squared Error - 34.41734686532569

In [22]:
# ensembled prediction using xgb over splitted test data
XGB_model = XGBRegressor(learning_rate = 0.02, max_depth = 7, n_estimators = 400)
XGB_model.fit(X_train, y_train)
y_XGB_predict = XGB_model.predict(X_test)
print(y_XGB_predict.shape, y_test.shape)
XGB_model_error = sqrt(mean_squared_error(y_test, y_XGB_predict))

print(f'XGBoost Mean Squared Error - {XGB_model_error}')

[16:39:04] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
(913,) (913,)
XGBoost Mean Squared Error - 32.31509767681853

In [20]:
# ensembled prediction using lgb over splitted test data
lgb_model = lgb.LGBMRegressor(objective='regression',num_leaves=70, n_estimators=300, learning_rate = 0.02 )

lgb_model.fit(X_train, y_train)
y_LGB_predict = lgb_model.predict(X_test)

LGB_model_error = sqrt(mean_squared_error(y_test, y_LGB_predict))

print(f'LGBM Mean Squared Error - {LGB_model_error}')

LGBM Mean Squared Error - 32.26877864425272

In [12]:
# taking average of different predictions
ensembled_prediction = (0.33*y_XGB_predict + 0.33*y_LGB_predict + 0.33 *y_rand_forest_predict)
ensembled_prediction_error = sqrt(mean_squared_error(y_test, ensembled_prediction))

print(f'Ensembled Mean Squared Error - {ensembled_prediction_error}')

Ensembled Mean Squared Error - 32.68483869663642

In [33]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from sklearn import preprocessing

x_data = df_train[cols].values 
y_data = df_train['demand']

min_max_scaler = preprocessing.MinMaxScaler()

x_data = min_max_scaler.fit_transform(x_data)
y_data = y_data.values
print(x_data.shape, y_data.shape)

regressor = Sequential()
regressor.add(LSTM(units = 50, return_sequences = True, input_shape = (x_data.shape[1], 1)))
regressor.add(Dropout(0.2))
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))
regressor.add(LSTM(units = 50))
regressor.add(Dropout(0.2))
regressor.add(Dense(units = 1))
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

regressor.fit(x_data, y_data, epochs = 150, batch_size = 32, validation_split=1/20)

x_test = min_max_scaler.transform(df_test.values)
print(x_test.shape)
y_predict = regressor.predict(x_test)

(18247, 9) (18247,)
Epoch 1/150
542/542 [==============================] - 23s 27ms/step - loss: 4599.3042 - val_loss: 3358.1968
Epoch 2/150
542/542 [==============================] - 13s 24ms/step - loss: 2727.2891 - val_loss: 2107.8494
Epoch 3/150
542/542 [==============================] - 13s 24ms/step - loss: 2016.7347 - val_loss: 1649.5311
Epoch 4/150
542/542 [==============================] - 13s 24ms/step - loss: 1818.7737 - val_loss: 1522.9460
Epoch 5/150
542/542 [==============================] - 13s 24ms/step - loss: 1780.8074 - val_loss: 1498.0204
Epoch 6/150
542/542 [==============================] - 13s 24ms/step - loss: 1778.5286 - val_loss: 1491.5620
Epoch 7/150
542/542 [==============================] - 13s 24ms/step - loss: 1779.9530 - val_loss: 1491.2262
Epoch 8/150
542/542 [==============================] - 13s 24ms/step - loss: 1777.1101 - val_loss: 1497.5786
Epoch 9/150
542/542 [==============================] - 13s 24ms/step - loss: 1777.8368 - val_loss: 1495.0316
Epoch 10/150
542/542 [==============================] - 13s 24ms/step - loss: 1773.3842 - val_loss: 1491.6663
Epoch 11/150
542/542 [==============================] - 13s 24ms/step - loss: 1730.9308 - val_loss: 1419.7356
Epoch 12/150
542/542 [==============================] - 13s 24ms/step - loss: 1673.1730 - val_loss: 1357.2458
Epoch 13/150
542/542 [==============================] - 13s 24ms/step - loss: 1653.8530 - val_loss: 1336.3932
Epoch 14/150
542/542 [==============================] - 13s 24ms/step - loss: 1612.7601 - val_loss: 1270.5542
Epoch 15/150
542/542 [==============================] - 13s 24ms/step - loss: 1589.7145 - val_loss: 1272.1157
Epoch 16/150
542/542 [==============================] - 13s 24ms/step - loss: 1591.8542 - val_loss: 1256.4999
Epoch 17/150
542/542 [==============================] - 13s 24ms/step - loss: 1583.0457 - val_loss: 1256.9027
Epoch 18/150
542/542 [==============================] - 13s 24ms/step - loss: 1576.4176 - val_loss: 1246.7463
Epoch 19/150
542/542 [==============================] - 13s 24ms/step - loss: 1573.1788 - val_loss: 1235.1046
Epoch 20/150
542/542 [==============================] - 13s 24ms/step - loss: 1567.6136 - val_loss: 1248.8442
Epoch 21/150
542/542 [==============================] - 13s 24ms/step - loss: 1584.3417 - val_loss: 1240.6599
Epoch 22/150
542/542 [==============================] - 13s 24ms/step - loss: 1568.6122 - val_loss: 1224.9613
Epoch 23/150
542/542 [==============================] - 13s 24ms/step - loss: 1562.6278 - val_loss: 1220.7655
Epoch 24/150
542/542 [==============================] - 13s 24ms/step - loss: 1566.7212 - val_loss: 1216.7223
Epoch 25/150
542/542 [==============================] - 13s 24ms/step - loss: 1558.0156 - val_loss: 1227.1010
Epoch 26/150
542/542 [==============================] - 13s 24ms/step - loss: 1549.7544 - val_loss: 1186.2611
Epoch 27/150
542/542 [==============================] - 13s 25ms/step - loss: 1541.3873 - val_loss: 1181.9250
Epoch 28/150
542/542 [==============================] - 13s 24ms/step - loss: 1534.5581 - val_loss: 1185.6326
Epoch 29/150
542/542 [==============================] - 13s 24ms/step - loss: 1530.6068 - val_loss: 1174.4277
Epoch 30/150
542/542 [==============================] - 13s 24ms/step - loss: 1522.5298 - val_loss: 1185.3928
Epoch 31/150
542/542 [==============================] - 13s 24ms/step - loss: 1521.9556 - val_loss: 1155.9120
Epoch 32/150
542/542 [==============================] - 13s 24ms/step - loss: 1520.3762 - val_loss: 1158.9286
Epoch 33/150
542/542 [==============================] - 13s 24ms/step - loss: 1541.3242 - val_loss: 1252.5858
Epoch 34/150
542/542 [==============================] - 13s 24ms/step - loss: 1552.9255 - val_loss: 1163.4404
Epoch 35/150
542/542 [==============================] - 13s 24ms/step - loss: 1517.3867 - val_loss: 1164.5215
Epoch 36/150
542/542 [==============================] - 13s 24ms/step - loss: 1508.7500 - val_loss: 1147.0693
Epoch 37/150
542/542 [==============================] - 13s 24ms/step - loss: 1524.7712 - val_loss: 1188.4052
Epoch 38/150
542/542 [==============================] - 13s 24ms/step - loss: 1506.1851 - val_loss: 1173.2948
Epoch 39/150
542/542 [==============================] - 13s 24ms/step - loss: 1530.2379 - val_loss: 1241.1453
Epoch 40/150
542/542 [==============================] - 13s 24ms/step - loss: 1519.1906 - val_loss: 1172.6782
Epoch 41/150
542/542 [==============================] - 13s 24ms/step - loss: 1497.3809 - val_loss: 1155.7437
Epoch 42/150
542/542 [==============================] - 13s 24ms/step - loss: 1500.2189 - val_loss: 1135.4099
Epoch 43/150
542/542 [==============================] - 13s 24ms/step - loss: 1497.3036 - val_loss: 1176.6917
Epoch 44/150
542/542 [==============================] - 13s 24ms/step - loss: 1501.9796 - val_loss: 1138.5519
Epoch 45/150
542/542 [==============================] - 13s 24ms/step - loss: 1498.9290 - val_loss: 1140.6176
Epoch 46/150
542/542 [==============================] - 13s 24ms/step - loss: 1496.1746 - val_loss: 1151.9087
Epoch 47/150
542/542 [==============================] - 13s 24ms/step - loss: 1477.7822 - val_loss: 1150.0643
Epoch 48/150
542/542 [==============================] - 13s 24ms/step - loss: 1493.7346 - val_loss: 1124.3148
Epoch 49/150
542/542 [==============================] - 13s 25ms/step - loss: 1476.3445 - val_loss: 1211.1688
Epoch 50/150
542/542 [==============================] - 13s 24ms/step - loss: 1474.8339 - val_loss: 1110.5746
Epoch 51/150
542/542 [==============================] - 13s 24ms/step - loss: 1471.6962 - val_loss: 1155.4313
Epoch 52/150
542/542 [==============================] - 13s 24ms/step - loss: 1479.6177 - val_loss: 1135.9865
Epoch 53/150
542/542 [==============================] - 13s 24ms/step - loss: 1452.8179 - val_loss: 1131.0090
Epoch 54/150
542/542 [==============================] - 13s 25ms/step - loss: 1465.2025 - val_loss: 1155.0033
Epoch 55/150
542/542 [==============================] - 14s 25ms/step - loss: 1454.1014 - val_loss: 1143.4860
Epoch 56/150
542/542 [==============================] - 13s 24ms/step - loss: 1443.5410 - val_loss: 1110.1422
Epoch 57/150
542/542 [==============================] - 14s 25ms/step - loss: 1440.9758 - val_loss: 1139.6350
Epoch 58/150
542/542 [==============================] - 13s 24ms/step - loss: 1428.9922 - val_loss: 1141.7760
Epoch 59/150
542/542 [==============================] - 13s 24ms/step - loss: 1430.7273 - val_loss: 1148.8053
Epoch 60/150
542/542 [==============================] - 13s 24ms/step - loss: 1397.8912 - val_loss: 1183.3478
Epoch 61/150
542/542 [==============================] - 13s 24ms/step - loss: 1374.2916 - val_loss: 1147.1084
Epoch 62/150
542/542 [==============================] - 13s 24ms/step - loss: 1368.6274 - val_loss: 1093.3378
Epoch 63/150
542/542 [==============================] - 13s 25ms/step - loss: 1359.9127 - val_loss: 1109.1676
Epoch 64/150
542/542 [==============================] - 13s 25ms/step - loss: 1347.1365 - val_loss: 1131.0326
Epoch 65/150
542/542 [==============================] - 13s 24ms/step - loss: 1339.4495 - val_loss: 1114.7672
Epoch 66/150
542/542 [==============================] - 13s 24ms/step - loss: 1326.3691 - val_loss: 1117.8978
Epoch 67/150
542/542 [==============================] - 13s 24ms/step - loss: 1321.2914 - val_loss: 1151.5256
Epoch 68/150
542/542 [==============================] - 13s 25ms/step - loss: 1322.9261 - val_loss: 1142.0758
Epoch 69/150
542/542 [==============================] - 13s 24ms/step - loss: 1309.0942 - val_loss: 1092.7114
Epoch 70/150
542/542 [==============================] - 13s 24ms/step - loss: 1309.2791 - val_loss: 1096.2076
Epoch 71/150
542/542 [==============================] - 13s 25ms/step - loss: 1303.2389 - val_loss: 1119.1608
Epoch 72/150
542/542 [==============================] - 13s 25ms/step - loss: 1279.1276 - val_loss: 1103.3973
Epoch 73/150
542/542 [==============================] - 13s 24ms/step - loss: 1270.5812 - val_loss: 1161.4337
Epoch 74/150
542/542 [==============================] - 13s 24ms/step - loss: 1286.8568 - val_loss: 1073.4370
Epoch 75/150
542/542 [==============================] - 13s 25ms/step - loss: 1269.6864 - val_loss: 1081.6409
Epoch 76/150
542/542 [==============================] - 13s 24ms/step - loss: 1265.6781 - val_loss: 1111.1382
Epoch 77/150
542/542 [==============================] - 13s 24ms/step - loss: 1265.0057 - val_loss: 1081.8835
Epoch 78/150
542/542 [==============================] - 13s 24ms/step - loss: 1232.4889 - val_loss: 1091.7496
Epoch 79/150
542/542 [==============================] - 13s 24ms/step - loss: 1253.4921 - val_loss: 1084.7771
Epoch 80/150
542/542 [==============================] - 13s 24ms/step - loss: 1234.4442 - val_loss: 1053.6654
Epoch 81/150
542/542 [==============================] - 13s 24ms/step - loss: 1236.9884 - val_loss: 1037.3995
Epoch 82/150
542/542 [==============================] - 13s 25ms/step - loss: 1227.2031 - val_loss: 1054.2437
Epoch 83/150
542/542 [==============================] - 13s 24ms/step - loss: 1222.3997 - val_loss: 1051.0582
Epoch 84/150
542/542 [==============================] - 13s 25ms/step - loss: 1219.9595 - val_loss: 1072.3624
Epoch 85/150
542/542 [==============================] - 13s 24ms/step - loss: 1200.5493 - val_loss: 1065.5122
Epoch 86/150
542/542 [==============================] - 13s 24ms/step - loss: 1212.0126 - val_loss: 1056.2955
Epoch 87/150
542/542 [==============================] - 13s 24ms/step - loss: 1199.0713 - val_loss: 1052.6234
Epoch 88/150
542/542 [==============================] - 13s 24ms/step - loss: 1194.4564 - val_loss: 1024.7166
Epoch 89/150
542/542 [==============================] - 13s 24ms/step - loss: 1186.5734 - val_loss: 1006.7253
Epoch 90/150
542/542 [==============================] - 13s 24ms/step - loss: 1188.8331 - val_loss: 1028.7209
Epoch 91/150
542/542 [==============================] - 13s 24ms/step - loss: 1184.4497 - val_loss: 1043.0269
Epoch 92/150
542/542 [==============================] - 13s 25ms/step - loss: 1182.1210 - val_loss: 1075.1199
Epoch 93/150
542/542 [==============================] - 13s 24ms/step - loss: 1176.7170 - val_loss: 1028.4972
Epoch 94/150
542/542 [==============================] - 13s 24ms/step - loss: 1186.4702 - val_loss: 1060.5602
Epoch 95/150
542/542 [==============================] - 13s 25ms/step - loss: 1160.3514 - val_loss: 1036.2430
Epoch 96/150
542/542 [==============================] - 13s 24ms/step - loss: 1159.2627 - val_loss: 1031.3754
Epoch 97/150
542/542 [==============================] - 14s 25ms/step - loss: 1156.7189 - val_loss: 1033.1512
Epoch 98/150
542/542 [==============================] - 13s 24ms/step - loss: 1147.6078 - val_loss: 1026.9001
Epoch 99/150
542/542 [==============================] - 13s 25ms/step - loss: 1162.9634 - val_loss: 1010.6184
Epoch 100/150
542/542 [==============================] - 13s 25ms/step - loss: 1141.6642 - val_loss: 1048.5812
Epoch 101/150
542/542 [==============================] - 13s 25ms/step - loss: 1153.5453 - val_loss: 1024.9377
Epoch 102/150
542/542 [==============================] - 13s 25ms/step - loss: 1138.5410 - val_loss: 1022.0897
Epoch 103/150
542/542 [==============================] - 13s 25ms/step - loss: 1146.7642 - val_loss: 1015.5453
Epoch 104/150
542/542 [==============================] - 13s 25ms/step - loss: 1132.2164 - val_loss: 1040.1552
Epoch 105/150
542/542 [==============================] - 14s 25ms/step - loss: 1127.4078 - val_loss: 1031.1714
Epoch 106/150
542/542 [==============================] - 14s 25ms/step - loss: 1130.0450 - val_loss: 1014.5623
Epoch 107/150
542/542 [==============================] - 14s 25ms/step - loss: 1111.5968 - val_loss: 1019.2747
Epoch 108/150
542/542 [==============================] - 14s 25ms/step - loss: 1118.7274 - val_loss: 1002.0449
Epoch 109/150
542/542 [==============================] - 14s 26ms/step - loss: 1121.7523 - val_loss: 1007.1334
Epoch 110/150
542/542 [==============================] - 14s 25ms/step - loss: 1118.3579 - val_loss: 1000.7225
Epoch 111/150
542/542 [==============================] - 14s 25ms/step - loss: 1116.1656 - val_loss: 1017.6437
Epoch 112/150
542/542 [==============================] - 13s 24ms/step - loss: 1128.1101 - val_loss: 1027.6919
Epoch 113/150
542/542 [==============================] - 14s 25ms/step - loss: 1110.8597 - val_loss: 1002.5224
Epoch 114/150
542/542 [==============================] - 14s 25ms/step - loss: 1105.4652 - val_loss: 1027.4680
Epoch 115/150
542/542 [==============================] - 13s 25ms/step - loss: 1117.7606 - val_loss: 1048.6213
Epoch 116/150
542/542 [==============================] - 13s 24ms/step - loss: 1103.9568 - val_loss: 1032.3547
Epoch 117/150
542/542 [==============================] - 14s 25ms/step - loss: 1093.8699 - val_loss: 1040.9194
Epoch 118/150
542/542 [==============================] - 14s 25ms/step - loss: 1091.8051 - val_loss: 1020.7020
Epoch 119/150
542/542 [==============================] - 14s 25ms/step - loss: 1101.3074 - val_loss: 1017.9091
Epoch 120/150
542/542 [==============================] - 13s 25ms/step - loss: 1096.1353 - val_loss: 1035.1332
Epoch 121/150
542/542 [==============================] - 14s 25ms/step - loss: 1086.2004 - val_loss: 1023.8654
Epoch 122/150
542/542 [==============================] - 13s 25ms/step - loss: 1085.2710 - val_loss: 1014.5447
Epoch 123/150
542/542 [==============================] - 14s 25ms/step - loss: 1085.3092 - val_loss: 1033.2230
Epoch 124/150
542/542 [==============================] - 14s 25ms/step - loss: 1099.7057 - val_loss: 1056.6100
Epoch 125/150
542/542 [==============================] - 13s 25ms/step - loss: 1079.0463 - val_loss: 1032.1576
Epoch 126/150
542/542 [==============================] - 13s 25ms/step - loss: 1076.8691 - val_loss: 1040.2314
Epoch 127/150
542/542 [==============================] - 13s 25ms/step - loss: 1073.9318 - val_loss: 1047.5759
Epoch 128/150
542/542 [==============================] - 13s 25ms/step - loss: 1083.1173 - val_loss: 1015.1138
Epoch 129/150
542/542 [==============================] - 14s 25ms/step - loss: 1071.7703 - val_loss: 1046.2538
Epoch 130/150
542/542 [==============================] - 14s 25ms/step - loss: 1079.1250 - val_loss: 1035.3059
Epoch 131/150
542/542 [==============================] - 13s 25ms/step - loss: 1091.0054 - val_loss: 1027.0746
Epoch 132/150
542/542 [==============================] - 13s 25ms/step - loss: 1064.2883 - val_loss: 1049.3115
Epoch 133/150
542/542 [==============================] - 13s 25ms/step - loss: 1068.7936 - val_loss: 1065.9954
Epoch 134/150
542/542 [==============================] - 14s 25ms/step - loss: 1083.6848 - val_loss: 1042.8878
Epoch 135/150
542/542 [==============================] - 14s 25ms/step - loss: 1075.1267 - val_loss: 1028.5579
Epoch 136/150
542/542 [==============================] - 14s 25ms/step - loss: 1058.2073 - val_loss: 1042.6528
Epoch 137/150
542/542 [==============================] - 13s 24ms/step - loss: 1063.6942 - val_loss: 1037.1371
Epoch 138/150
542/542 [==============================] - 14s 25ms/step - loss: 1058.9258 - val_loss: 1038.0797
Epoch 139/150
542/542 [==============================] - 14s 25ms/step - loss: 1061.1127 - val_loss: 1049.2583
Epoch 140/150
542/542 [==============================] - 13s 25ms/step - loss: 1053.9219 - val_loss: 1071.2833
Epoch 141/150
542/542 [==============================] - 13s 25ms/step - loss: 1046.9252 - val_loss: 1049.7697
Epoch 142/150
542/542 [==============================] - 13s 25ms/step - loss: 1051.7646 - val_loss: 1033.1154
Epoch 143/150
542/542 [==============================] - 13s 24ms/step - loss: 1046.9604 - val_loss: 1045.2090
Epoch 144/150
542/542 [==============================] - 14s 25ms/step - loss: 1040.6814 - val_loss: 1033.1855
Epoch 145/150
542/542 [==============================] - 14s 25ms/step - loss: 1053.5431 - val_loss: 1081.5421
Epoch 146/150
542/542 [==============================] - 13s 24ms/step - loss: 1071.1647 - val_loss: 1034.6493
Epoch 147/150
542/542 [==============================] - 14s 25ms/step - loss: 1041.8236 - val_loss: 1033.2812
Epoch 148/150
542/542 [==============================] - 13s 24ms/step - loss: 1045.7064 - val_loss: 1048.0238
Epoch 149/150
542/542 [==============================] - 14s 25ms/step - loss: 1040.7197 - val_loss: 1058.3628
Epoch 150/150
542/542 [==============================] - 13s 25ms/step - loss: 1051.5627 - val_loss: 1046.3462
(7650, 9)

In [34]:
# fit whole data using random forest 
rand_forest_regressor = RandomForestRegressor(max_depth = 60, n_estimators= 1500)
rand_forest_regressor.fit(X, y)
y_rand_forest_predict = rand_forest_regressor.predict(X_test_dataset)
# fit whole data using xgb
XGB_model = XGBRegressor(learning_rate = 0.02, max_depth = 7, n_estimators = 400)
XGB_model.fit(X, y)
y_XGB_predict = XGB_model.predict(X_test_dataset)
# fit whole data using lgbm
lgb_model = lgb.LGBMRegressor(objective='regression',num_leaves=70, n_estimators=300, learning_rate = 0.02)
lgb_model.fit(X, y)
y_LGB_predict = lgb_model.predict(X_test_dataset)

# ensembled prediction over test data using xgb and random forest
ensembled_prediction1 = (0.5*y_XGB_predict + 0.5 *y_rand_forest_predict)

# ensembled prediction over test data using lgb and random forest
ensembled_prediction2 = (0.5*y_LGB_predict + 0.5 *y_rand_forest_predict)

ensembled_prediction1a = (0.5*y_LGB_predict + 0.5 *y_XGB_predict)

# ensembled prediction over test data lgb, xgb, and rf
ensembled_prediction3 = (0.33*y_LGB_predict + 0.33*y_XGB_predict + 0.33 *y_rand_forest_predict)

# ensembled prediction over test data lgb, xgb, and rf
ensembled_prediction4 = (0.25*y_LGB_predict + 0.25*y_XGB_predict + 0.25 *y_rand_forest_predict + 0.25*y_predict)

[18:13:56] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [35]:
df_test_data['demand'] = ensembled_prediction1
df_test_data.to_csv('xgb_rf.csv', index=False)
df_test_data['demand'] = ensembled_prediction2
df_test_data.to_csv('lgb_rf.csv', index=False)
df_test_data['demand'] = ensembled_prediction3
df_test_data.to_csv('lgb_xgb_rf.csv', index=False)
df_test_data['demand'] = ensembled_prediction1a
df_test_data.to_csv('lgb_xgb.csv', index=False)
df_test_data['demand'] = ensembled_prediction4
df_test_data.to_csv('lstm_lgb_xgb_rf.csv', index=False)